*{
    box-sizing: border-box;
}
html {
    overflow-x: hidden; /* Prevent scroll on narrow devices */

}


.navbar-toggle .icon-bar{
    background-color: #4B001D;
    /*Barrar navbar */
}

.navbar-brand {
    font-size: 24px;


}

.navbar-container {
    padding: 10px 0 0px 0;


}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #e2007a;
    border: none;
    height: 40px;
    padding-top: 2px;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(84,32,102,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(84,32,102,1);
    box-shadow: 0px 0px 16px 0px rgba(84,32,102,1);

}

.navbar.navbar-fixed-top.fixed-theme .btn-login {
   
    color: #e2007a;
    background: #fff;
    border-radius: 12px;
    
}

.navbar.navbar-fixed-top.fixed-theme .btn-login:hover {
   
    color: #e2007a;
    background: #fff;
    border-radius: 12px;
    
}

.navbar-brand.fixed-theme {
    font-size: 20px;

}

.navbar-container.fixed-theme {
    padding: 0;

}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;

}

.nav>li>a{
    color: #fff;
    width: 100px;
    height: 45px;
    padding: 0;
    margin:0px 5px;

}
.nav>li>a:hover{
    color: #e2007a;
    background: #fff;
    border-radius: 6px;
    
}

#navbar {
    float: right;
    overflow: hidden;
    height: auto;
    width: auto;

}

.navbar-nav>li>.dropdown-menu {
    background-color: white;
    color:#8F1E4A;

}

.dropdown-menu{
    overflow: auto;
}

.navbar-header{
    padding: 0px;
}

#programas,
#prenatal,
#posnatal,
#clubbebe,
#galeria,
#foro,
#carousel,
#contactanos{
    padding-top: 50px;
}

body{

    overflow-x: hidden;
    overflow-y: visible;
    background: #ebeff1;
    font-family: Handlee-Regular;

}
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background-color: transparent;

} 
::-webkit-scrollbar-thumb {
    background-color: #E1BEE7;
    border-radius: 5px;
    border: 1px solid #E1BEE7;
} ::-webkit-scrollbar-button {
    background-color: #7B1FA2;
    height: 5px;
    border-radius: 2px 0 0 2px; 
}
::-webkit-scrollbar-corner {
    background-color: red;
}


