
body{
    padding: 0;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;


}


.video-section .pattern-overlay {
    padding: -100px;
    min-height: 705px;
    height: auto;
    background-color: rgba(71, 71, 71, 0.49);
    margin: auto;


    text-align: center;


    /* Incase of overlay problems just increase the min-height*/
}

.video-section h1, .video-section h2{
    color:#fff;
    text-align: center;    
    font-size: 50px;
}
.video-section h4{
    color:#fff;
    text-align: center;

}
.video-section h2{
    font-size:49px;
    font-weight:bold;
    text-transform: uppercase;
    margin: 0px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
    padding-top: 0;
    position: relative;
    bottom: 25px;
}
.video-section h3{

    font-size: 40px;
    font-weight:lighter;
    margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.video-section {
    overflow: hidden;
    position: relative;
}


#video_background { 
    position: absolute;

    top: 50%; 
    left: 50%; 
    transform:translateX(-50%) translateY(-19%); 
    min-width: 110%; 
    min-height: 400%;
    width: auto; 
    height: 1090px; 
    z-index: -980; 
    overflow: hidden; 
    visibility: visible;

}
@media (max-width: 992px) {
    .video-section h2 {
        font-size: 36px;
    }

}
@media (max-width: 768px) {
    .video-section h2 {
        font-size: 32px;
        line-height: normal;
    }
    .video-section h3 {
        font-size: 30px;
    }
    .video-section .pattern-overlay {
        min-height: 300px;
        padding: 35px;
    }

    @media (max-width: 767px) {
        .video-section h2 {
            font-size: 20px;
        }
        @media (max-width: 480px) {
            .video-section h2 {
                font-size: 16px;
                bottom: 0;
            }
            .video-section h3 {
                font-size: 20px;
            }
            .video-section .pattern-overlay {
                min-height: 200px;
                padding: 15px;
            }
        }
    }
}
