/* 
.btn-group-justified>.btn-group .btn{

        background: #CA628A;
        margin: 0 auto;
        border: none;
        text-shadow: 1px 2px 1px #be3e6e;
        font-size: 20px;
        color: white;
        border-radius: 50%;
            height: 35px;
    font-size: 20px;
        
}
.btn-group-justified>.btn-group .btn:hover{
        background: #700730;
        transform: translateY(1px);
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 3px 0 rgba(0,0,0,0.19);
     
}


 .btn-success{
     color: #333;
     background-color:rgba(250,250,250,0.7);
      border-radius: 3px;
     border-color: #d9d9d9;
        height: 30px;
     
 }
.btn-success:hover{
     color: #8F1E4A;
     background-color: #fff;
      border-radius: 3px;
     border-color: #d9d9d9;
        height: 30px;
     
 }


.btn-primary {
    color: #8F1E4A;
    background-color:rgba(250,250,250,0.7);
    border-radius: 10px;
    border-color:#8F1E4A;
    
    font-size: 15px;
    
}
.btn-primary:hover {
    color:#4B001D;
    background-color: #fff;
    border-radius: 10px;
    border-color: #4B001D;
    
    font-size: 15px;
    
}
.btn-primary:focus {
    color: #fff;
    background-color: #8F1E4A;
    border-radius: 10px;
    border-color: #8F1E4A;
    font-size: 15px;
    
} 
.btn-primary:active {
    color: #fff;
    background-color: #8F1E4A;
    border-radius: 10px;
    border-color: #8F1E4A;
    font-size: 15px;
    
}    


.btn-danger{
    background: #fff;
    color: #333;
    border-color: #9f9f9f;
    margin: 3px;
}
.btn-danger:hover{
    color:  #8F1E4A;
    background: #fff;
    border-color: #9f9f9f;
    margin: 3px;
}

.btn-warning{}
.btn-warning:hover{}

.btn-info{
    
}
.btn-info:hover{
    
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}
.btn-theme:hover {
    color: #8F1E4A;
    background-color: #fff;
    border-color: #fff;
    
}


a{
    color: green;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    
    color: #CA628A;
    
    
    
}


.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}
   .btn-pref .btn {
    -webkit-border-radius:0 !important;
}



.carousel-inner .btn-theme {
    background-color: #CA628A; 
}
.carousel-inner .btn-theme:hover {
    color: #8F1E4A;
    background-color: #fff;
    border: 2px solid #eee;
}
.fading-side-menu>h5{
    font-size: 18px;
    font-weight: bold;
    
}*/